[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
ExecStart={{ node_exporter_folder }}/current/node_exporter

[Install]
WantedBy=default.target